{% extends "base.html" %}

{% load static %}

{% block content %}
<h1 class="shady">Liquid Investigations <br/> {{liquid_version}}</h1>
<img src="{% static "icons/logo.png" %}" height="125" alt="Liquid Investigations">
<h1>{{ liquid_title }}</h1>

<p>
  {% if request.user.is_authenticated %}
    <span class="username">{{ request.user }}</span>
    <a href="/accounts/logout/?next=/">[logout]</a>
    <a href="/accounts/password_change/">[password]</a>
    {% if 2fa_enabled %}
    <a href="/accounts/totp/settings/">[2FA settings]</a>
    {% endif %}
    {% if request.user.is_staff %}
      <a href="/admin/">[admin]</a>
    {% endif %}
  {% else %}
    <a href="/accounts/login/">[login]</a>
  {% endif %}
</p>

<p> Welcome to the Liquid Investigations Home Page. <small style="float: right;">{{liquid_core_version}} </small></p>

<style>
 .inactiveLink {
     cursor: help;
     color: #808080;
 }
 .inactiveLink:hover {
     cursor: help;
     color: #808080;
 }
</style>

{% for app in liquid_apps%}
<p>
    {% if app.enabled and 'home.use_'|add:app.id in perms %}
      {% if app.adminOnly and user.is_superuser or not app.adminOnly  %}
      <a href="{{app.url}}">{{app.title}}</a>
        {{app.description}}
        <small style="float: right;">{{app.version}}</small>
      {% endif %}
    {% elif not app.adminOnly %}
        <a href="{{app.url}}" class="inactiveLink" onClick="return false" title={% if not app.enabled %}"Not enabled"{% else %}"No permission"{% endif %}>{{app.title}}</a>
        {{app.description}}
        <small style="float: right;">{{app.version}}</small>
    {% endif %}
</p>
{% endfor %}


{% endblock %}
{% block headstyles %}
<style>
.shady {
  transform: rotate(90deg);
  transform-origin: top left;
  color: #ddd;
  padding-left: 100pt;
}
</style>
{% endblock %}

{% block scripts %}

{% if hypothesis_app_url %}
  <script src="{{ hypothesis_app_url }}/embed.js" async></script>
{% endif %}

{% endblock %}
