{% extends "base.html" %}

{% block content %}
<h1 class="shady">Liquid Investigations</h1>
<h1>{{ liquid_title }}</h1>

<p>
  {% if request.user.is_authenticated %}
    <span class="username">{{ request.user }}</span>
    <a href="/accounts/logout/?next=/">[logout]</a>
    {% if request.user.is_staff %}
      <a href="/admin/">[admin]</a>
    {% endif %}
  {% else %}
    <a href="/accounts/login/">[login]</a>
  {% endif %}
</p>

{% if hoover_app_url %}
<p>
  <a href="{{ hoover_app_url }}">Hoover</a>
</p>
{% endif %}

{% if hypothesis_app_url %}
<p>
  <a href="{{ hypothesis_app_url }}">Hypothesis</a>
</p>
{% endif %}

{% if dokuwiki_app_url %}
<p>
  <a href="{{ dokuwiki_app_url }}">DokuWiki</a>
</p>
{% endif %}

{% if rocketchat_app_url %}
<p>
  <a href="{{ rocketchat_app_url }}">Rocket.Chat</a>
</p>
{% endif %}

{% if nextcloud_app_url %}
<p>
  <a href="{{ nextcloud_app_url }}/login?autologin=uploads">Nextcloud</a>
</p>
  {% if user.is_superuser %}
  <p>
    <a href="{{ nextcloud_app_url }}/login?autologin=admin">Nextcloud -- Admin</a>
  </p>
  {% endif %}
{% endif %}

{% endblock %}
{% block headstyles %}
<style>
.shady {
  transform: rotate(90deg);
  transform-origin: top left;
  color: #ddd;
  padding-left: 100pt;
}
</style>
{% endblock %}

{% block scripts %}

{% if hypothesis_app_url %}
  <script src="{{ hypothesis_app_url }}/embed.js" async></script>
{% endif %}

{% endblock %}
