{% extends "base.html" %}

{% block content %}
<h1>Liquid Investigations</h1>

<p>
  {% if request.user.is_authenticated %}
    {{ request.user }}
    <a href="/accounts/logout/?next=/">[logout]</a>
    {% if request.user.is_staff %}
      <a href="/admin/">[admin]</a>
    {% endif %}
  {% else %}
    <a href="/accounts/login/">[login]</a>
  {% endif %}
</p>

{% if hoover_app_url %}
<p>
  <a href="{{ hoover_app_url }}">Hoover</a>
</p>
{% endif %}

{% if hypothesis_app_url %}
<p>
  <a href="{{ hypothesis_app_url }}">Hypothesis</a>
</p>
{% endif %}

{% if dokuwiki_app_url %}
<p>
  <a href="{{ dokuwiki_app_url }}">DokuWiki</a>
</p>
{% endif %}

{% endblock %}
