[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-oauth-toolkit = "*"
django-cors-middleware = "*"
waitress = "*"
gunicorn = '*'
hupper = '*'
requests = '*'
whitenoise = "*"
Django = "*"
django-otp = "*"
pytest = "*"
pytest-django = "*"
qrcode = "*"
Pillow = "*"
pytest-forked = "*"
redis = "*"

[requires]
python_version = "3.9"
