[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-oauth-toolkit = "*"
django-cors-middleware = "*"
waitress = "*"
whitenoise = "*"
Django = "*"
django-otp = "*"
pytest = "*"
pytest-django = "*"
qrcode = "*"
Pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
drf-yasg = {extras = ["validation"], version = "*"}
uritemplate = "*"

[requires]
python_version = "3.9"
