[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django-oauth-toolkit = "*"
django-cors-middleware = "*"
waitress = "*"
gunicorn = '*'
hupper = '*'
requests = '*'
whitenoise = "*"
Django = "*"
django-otp = "*"
pytest = "*"
pytest-django = "*"
qrcode = "*"
Pillow = "*"
pytest-forked = "*"
redis = "*"
protobuf = "<=3.20"
sentry-sdk = {version = "*", extras = ["django"]}
opentelemetry-distro = "*"
opentelemetry-exporter-otlp = "*"

[requires]
python_version = "3.9"
