
{% extends "auth_base.html" %}

{% block content %}

<h1>{% if add_device %}Add{% else %}Change{% endif %} 2FA device</h1>

<form method="post">
  {% csrf_token %}
  {% if not otp_png %}
  {% if add_device %}
  <p>Enter your password and a valid OTP token to add a new device. </p>
  {% else %}
  <p>Enter your password and a valid OTP token to change your device. This will remove all your devices except the new one. </p>
  {% endif %}
  <fieldset class="form-group row">
    <label>Confirm password</label>
    <div class="col-sm-4">
      <input type="password" name="password">
    </div>
  </fieldset>


  <fieldset class="form-group row">
    <label>OTP token</label>
    <div class="col-sm-4">
      <input name="token">
    </div>
  </fieldset>

  <fieldset class="form-group row">
    <label>New device name</label>
    <div class="col-sm-4">
      <input name="new_name" required>
    </div>
  </fieldset>

  {% endif %}

  <button type="submit" class="btn btn-primary"> 
  {% if add_device %}
    Add 
  {% else %}
    Change
  {% endif %}
  </button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</form>

  {% if bad_token %}
    <p>Invalid token, please try again.</p>
  {% endif %}

  {% if bad_password %}
    <p>Invalid password.</p>
  {% endif %}

{% endblock %}
