{% extends "auth_base.html" %}

{% block content %}

<h1>Remove 2FA devices</h1>

<form method="post">
  {% csrf_token %}
  <p>Enter your password and a valid OTP token to remove all devices but one. Choose the device you want to keep from the dropdown menu.</p>
  <p><b>Note:</b> The device named like your username is the device you registered when setting up the two factor authentication</p>

  <fieldset class="form-group row">
    <label>Confirm password</label>
    <div class="col-sm-4">
      <input type="password" name="password">
    </div>
  </fieldset>


  <fieldset class="form-group row">
    <label>OTP token</label>
    <div class="col-sm-4">
      <input name="token">
    </div>
  </fieldset>


  <fieldset class="form-group row">
  <label for="device">Select the device you want to keep:</label>
    <div class="col-sm-4">
      <select id=device" class="form-control" name="device">
          {% for device in devices %}
            <option value={{ device.id }}>{{ device.name }}</option>
          {% endfor %}
      </select>
  </div>
  </fieldset>

  <button type="submit" class="btn btn-primary"> 
    Remove
  </button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</form>

  {% if bad_token %}
    <p>Invalid token, please try again.</p>
  {% endif %}

  {% if bad_password %}
    <p>Invalid password.</p>
  {% endif %}

  {% if success %}
    <p>Successfully removed devices.</p>
  {% endif %}

{% endblock %}