{% extends "auth_base.html" %}

{% block content %}

<h1>2FA device settings</h1>

  <h2>Currently registered devices:</h2>
  <p><b>Note:</b> The device named like your username is the device you registered when setting up the two factor authentication</p>
  <ul>
  {% for device in devices %}
  <li>{{ device.device.name }} {% if device.time %} - added {{ device.time }} {% endif %}</li>
  {% endfor %}
  </ul>

  <a href="/accounts/totp/change/" class="btn btn-primary">Change device</a>
  <a href="/accounts/totp/add/" class="btn btn-secondary">Add new device</a>
  <a href="/accounts/totp/remove/" class="btn btn-danger">Remove devices</a><br>
  <a href="/" class="btn btn-secondary" style="margin-top: 10px">Cancel</a>

{% endblock %}
