{% extends "auth_base.html" %}


{% block content %}

<h1>Change 2FA device</h1>

<p>Confirm your new device with a token.</p>


<form method="post">
  {% csrf_token %}
{% if otp_png %}
<p><img src="{{ otp_png }}"></p>
{% endif %}
{% if not success %}
<fieldset class="form-group row">
  <label>Confirm with new token</label>
  <div class="col-sm-4">
    <input name="new_token">
  </div>
</fieldset>
<button type="submit" class="btn btn-primary">Confirm</button>
{% endif %}

{% if success %}
  <p>New device confirmed.</p>
  <p><a class="btn btn-primary" href="/">Home</a></p>
{% endif %}

{% if bad_token %}
  <p>Invalid token, please retry.</p>
{% endif %}

{% endblock %}
