
{% extends "auth_base.html" %}

{% block content %}

<h1>Change 2FA device</h1>

<form method="post">
  {% csrf_token %}
  {% if not otp_png %}
  <p>Enter your password and a valid OTP token to change your device. This will deactivate your old devices. </p>
  <p>Hit the checkbox below to add a new device while keeping your old devices.</p>

  <fieldset class="form-group row">
    <label>Confirm password</label>
    <div class="col-sm-4">
      <input type="password" name="password">
    </div>
  </fieldset>


  <fieldset class="form-group row">
    <label>OTP token</label>
    <div class="col-sm-4">
      <input name="token">
    </div>
  </fieldset>

  <fieldset class="form-group row">
    <label>Add new device (keep old device)</label>
    <div class="col-sm-4">
      <input name="add_device" type="checkbox">
    </div>
  </fieldset>
  {% endif %}

  <button type="submit" class="btn btn-primary">Change</button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</form>

  {% if bad_token %}
    <p>Invalid token, please try again.</p>
  {% endif %}

  {% if bad_password %}
    <p>Invalid password.</p>
  {% endif %}

{% endblock %}
