{% block content %}
<h1>SINGLE-USE INVITATION ALREADY OPENED</h1>
    <p>Somebody or something else opened this link at {{ timestamp }}. Please rectify the situation (e.g. disable link previews, so your chat app doesn't open the link for you), get another link and try again.</p><br>
    See 2FA documentation for more info:<br>
    <a href="https://github.com/liquidinvestigations/docs/wiki/User-Guide%3A-Login">2FA Documentation</a><br>
    <a href="https://github.com/liquidinvestigations/docs/wiki/User-Guide%3A-Manage-2FA-Devices">Device Management</a></p>
{% endblock %}
